<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"  parallel="classes" thread-count="2">

    <test name="Chrome-Windows">
        <parameter name="browser" value="Chrome"/>
        <parameter name="version" value="86.0"/>
        <parameter name="platform" value="WIN10"/>
        <classes>
            <class name="com.lambdatest.ParallelTestWithMultiThread" />
        </classes>
    </test>

    <test name="macOS-Edge">
        <parameter name="browser" value="Microsoft Edge"/>
        <parameter name="version" value="87.0"/>
        <parameter name="platform" value="macOS Sierra"/>
        <classes>
            <class name="com.lambdatest.ParallelTestWithMultiThread2" />
        </classes>
    </test>

</suite>